/* 카드 영역 */
* .root {
    width: 359px;
    height: 608px;
    box-sizing: border-box;
    overflow: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 24px 20px;
    display: flex;
    gap: 120px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -4px 5px 0px #00000026;
    ;
    position: static;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.root::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.add-todo-content {
    width: 319px;
    height: 400px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

/* 헤더 */
.add-todo-header {
    position: relative;
    width: 309px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-box: auto;
}

.cancel-btn,
#submitBtn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    color: #292C33;
    cursor: pointer;
    z-index: 1;
}

#submitBtn {
    color: #006FFD;
}

.add-todo-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

/* form box */
.todo-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 319px;
    height: 352px;
}

/* text input box */
.add-todo-box {
    width: 319px;
    height: 84px;
    box-sizing: border-box;
    padding: 16px 10px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #E6EAF2;
    background-color: #FFFFFF;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.add-todo-box input[type="text"] {
    border: none;
    font-size: 12px;
    font-weight: 400px;
    color: #292C33;
    outline: none;
}

.add-todo-box input[type="text"]::placeholder {
    color: #8F9BB3;
}

.divider {
    height: 1px;
    width: 319px;
    background-color: #E6EAF2;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 50%;
}

/* 날짜, 시간 박스 */
.add-todo-box2 {
    width: 319px;
    height: 236px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #E6EAF2;
    background-color: #FFFFFF;
    flex-direction: column;
}

/*날짜 영역*/
.date {
    width: 319px;
    height: 126px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.date-title {
    width: 100%;
    height: 42px;
    padding-left: 10px;
}
.date-title p{
    font-size: 12px;
    font-weight: 400;
    color: #292C33;
    text-align: justify;
}

.divider1 {
    height: 1px;
    width: 319px;
    background-color: #E6EAF2;
}

.date-detail {
    width: 319px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0px;
    top: 36px;
}

.date-wapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 28px;
    justify-content: center;
    text-align: center;
}

.year-box {
    display: flex;
    width: 56px;
    height: 14px;
    align-items: center;
}

#year{
    width: 44px;
    height: 14px;
}

.month-box {
    display: flex;
    width: 33px;
    height: 14px;
}

#month{
    width: 20px;
    height: auto;
}

.daybox {
    display: flex;
    width: 35px;
    height: 14px;
    align-items: center;
}

#day{
    width: 23px;
    height: auto;
}

.date-detail input[type="number"] {
    border: none;
    border-bottom: 1px solid #E6EAF2;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    margin-left: 0px;
    text-align: end;
}

.date-detail label {
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    margin-left: 0px;
    color: #292C33;
}


/* 아코디언 부분 (시간, 우선순위) */

.accordion {
    width: 100%;
    margin: 0;
}

/* 아코디언 그룹 */


.tgl {
    display: none;
}

.accordion-menu {
    width: 319px;
    height: 55px;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    box-sizing: border-box;
    padding:16px 10px 14px 10px;
    display: flex;
    color: #292C33;
}

.accordion-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 319px;
    cursor: pointer;
}

.accordion-label p {
    margin: 0;
}

/* 토글 스위치*/
.accordion-label .tgl-btn {
    width: 40.62px;
    height: 25px;
    border-radius: 50px;
    background-color: #C8CBD3;
    position: relative;
}

.accordion-label .tgl-btn::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    left: 2px;
    top: 2px;
    transition: all 0.3s ease;
}

.tgl:checked+label .tgl-btn {
    background-color: #006FFD;
}

.tgl:checked+label .tgl-btn::after {
    left: calc(100% - 22px);
}

/*여기까지가 토글 커스텀*/

/* 아코디언 콘텐츠 (닫힘 상태) */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    font-size: 1rem;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 아코디언 콘텐츠 (열림 상태) */
.tgl:checked~.accordion-content {
    max-height: 95px;
    padding: 16px 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E6EAF2;
    position: relative;
}

.date-detail input[type="number"]::-webkit-outer-spin-button,
.date-detail input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time-row {
    width: 200px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.time-label {
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    color: #006FFD;
}

.time-input-group label {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #292C33;
}

.time-input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.time-input-group input[type="number"] {
    width: 22px;
    border: none;
    border-bottom: 1px solid #DDE2E9;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #292C33;
    text-align: center;
    outline: none;
    padding: 4px 0;
    appearance: textfield;
}

/* 크롬, 사파리 화살표 제거 */
.time-input-group input[type="number"]::-webkit-outer-spin-button,
.time-input-group input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*우선순위 아코디언*/
.accordion-label {
    border-top: 1px solid #DDE2E9;
}

.priority-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1px;
}

.priority-wapper {
    box-sizing: border-box;
    width: 319px;
    height: 134px;
    position: relative;
}

.priority-option {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #292C33;
    cursor: pointer;
    width: 121px;
    height: 28px;
    box-sizing: border-box;
    padding: 8px 20px;
    gap: 5px;
    position: relative;
}

.option1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #E6EAF2;
}

.option2 {
    border-left: 1px solid #E6EAF2;
    border-right: 1px solid #E6EAF2;
}

.option3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #E6EAF2;
}

.priority-option input[type="radio"] {
    display: none;
}

.priority-option input[type="radio"]:checked+*::after {
    content: "✓";
    color: #292C33;
    font-size: 14px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.add-todo-sheet {
    margin-top: 500px;
    width: 359px;
    height: 740px;
    border-radius: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 24px 20px 316px 20px;
    background-color: var(--background-color);
    position: absolute;
    max-height: 90%;
    background: white;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    margin: 0 auto;

}

.add-todo-sheet.active {
    transform: translateY(0);
}

.hidden {
    display: none;
}

body.modal-open {
    overflow: hidden;
    height: 100%;
    touch-action: none;
    /* 모바일 터치도 방지 */
}