<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div id="root">
      <div class="app-wrapper">
        <div class="login-container">
          <img
            src="../static/img/logo_2.svg"
            alt="Sche:llo 로고"
            class="logo-img"
          />
          <button class="kakao-btn">
            <img src="../static/img/kakao_login.png" alt="카카오 로그인" />
          </button>
        </div>
      </div>
    </div>
    <script src="../static/js/login.js"></script>
  </body>
</html>
